{% extends "default.layout.twig" %}

{% block content %}
	<div class="billboard">
		<p class="billboard--row billboard--row__brick">{{ "the_next_bus"|trans }}</p>
		<p class="billboard--row billboard--row__pink">{{ "goes_to_trier"|trans }}*</p>
		<!--<p class="billboard--row billboard--row__green">{{ "billboard.in"|trans }}</p>-->
		<p class="billboard--row billboard--row__green routeTip"> * {{ "from_luxembourg_johnfkennedy"|trans }}</p>
	</div>

	<div class="ribbon">
		<p></p>
		<p>{{ "hurry_up_you_have_to_wait_after_it"|trans|raw }}</p>
	</div>

	<div class="whatsnew">
		<div class="newItem">
			<h2>2016. 11. 18.</h2>
			<ul>
				<li>Menu!</li>
			</ul>
		</div>
		<div class="newItem">
			<h2>2016. 10. 28.</h2>
			<ul>
				<li>New backend engine. Thank you <a href="https://github.com/szhajdu">Szabi</a> !</li>
				<li>"Add to Homescreen" alert on mobile</li>
				<li>Swipeable "What's new" section (this section:])</li>
				<li>Minor Google optimizations.</li>
			</ul>
		</div>
		<div class="newItem">
			<h2>2016. 10. 08.</h2>
			<ul>
				<li>Optimized and more precise functionality</li>
				<li>New meta description and title <br> (&nbsp;<svg class="heart" viewBox="0 0 32 29.6">
					<path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z" style="max-height: 100px"/>
				</svg>&nbsp;Google )</li>
				<li>Mobile Web App capability, icons (Add to home screen)</li>
				<li>Minute countdown on the favicon</li>
				<li>This list :)</li>
			</ul>
		</div>
	</div>

	<div class="github">
		<a href="http://www.github.com/arvai/trierhu">
			<img src="{{ static('github.png') }}" alt="Github Repo" title="Github Repo"/>
		</a>
	</div>
{% endblock %}