<nav>
    <ul>
        <li class="head">
            <a href="#">{{ "menu.languages"|trans }}</a>
        </li>
        <li>
            <a href="/?locale=en_GB" class="lang">
                <img src="{{ static('gb.svg') }}" alt="fb" title="en" style="max-height: 50px" />
            </a>
            <a href="#">
                English
            </a>
        </li>
        <li>
            <a href="?locale=hu_HU" class="lang">
                <img src="{{ static('hu.svg') }}" alt="hu" title="hu" style="max-height: 50px"  />
            </a>
            <a href="#">
                Magyar
            </a>
        </li>
        <li>
            <a href="?locale=ru_RU" class="lang">
                <img src="{{ static('ru.svg') }}" alt="ru" title="ru" style="max-height: 50px" />
            </a>
            <a href="#">
                русский
            </a>
        </li>



        <li class="head">
            <a href="#">Coming Soon...</a>
        </li>
        <li>
            <a href="#">Coming Soon...</a>
        </li>
        <li>
            <a href="#">Coming Soon...</a>
        </li>
        <li>
            <a href="#">Coming Soon...</a>
        </li>
    </ul>

    </ul>
</nav>
<div id="hamburger">
    <a href="#" id="menu_trigger">
        <img src="{{ static('hamburger.svg') }}" alt="menu" title="menu" style="max-height: 100px" />
    </a>
</div>