<nav>
    <ul>
        <li class="head">
            <a href="#">{{ "menu.languages"|trans }}</a>

            <ul>
                <li>
                <span class="lang">
                    <img src="{{ static('gb.svg') }}" alt="fb" title="en" style="max-height: 50px" />
                </span>
                    <a href="/?locale=en_GB">
                        English
                    </a>
                </li>
                <li>
                <span class="lang">
                    <img src="{{ static('hu.svg') }}" alt="hu" title="hu" style="max-height: 50px"  />
                </span>
                    <a href="?locale=hu_HU" >
                        Magyar
                    </a>
                </li>
                <li>
                <span class="lang">
                    <img src="{{ static('ru.svg') }}" alt="ru" title="ru" style="max-height: 50px" />
                </span>
                    <a href="?locale=ru_RU">
                        Русский
                    </a>
                </li>
            </ul>
        </li>

        <li class="head">
            <a href="#">Coming Soon...</a>
            <ul>
                <li>
                    <a href="#">Coming Soon...</a>
                </li>
                <li>
                    <a href="#">Coming Soon...</a>
                </li>
                <li>
                    <a href="#">Coming Soon...</a>
                </li>
            </ul>
        </li>
    </ul>

    </ul>
</nav>
<div id="hamburger">
    <a href="#" id="menu_trigger">
        <img src="{{ static('hamburger.svg') }}" alt="menu" title="menu" style="max-height: 100px" />
    </a>
</div>
